@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Neuton:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  
}
:root{
  --black:#27374D;
  --blue:#179eed;
  --blue2:#217ee9;
  --blue3:#04009A;
}

section{
  padding:3rem 9%;
}
a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

#header{
  background-color: #27374D;
}

nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  z-index: 99;
}

.logo {
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 2px;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.logo a {
  color: #EFEFEF;
}

nav ul {
  display: flex;
  margin-left: auto;
}

nav ul li {
  font-weight: 500;
  font-size: 12px;
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0.2s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.4s;
}

nav ul li:nth-child(3) {
  animation-delay: 0.6s;
}

nav ul li:nth-child(4) {
  animation-delay: 0.8s;
}

nav ul li:nth-child(5) {
  animation-delay: 1s;
}

nav ul li a {
  color: #EFEFEF;
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color:var(--blue3);
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
  top: 35px;
  transform-origin: left;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

.home-social {
  display: flex;
  flex-direction: row;
}

.home-social-icon {
  width: max-content;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #DDE6ED;
}

.home-social-icon:hover {
  color: var(--blue);
}

.skill-box{
  width: 100%;
  margin: 25px 0;
  margin-bottom: 2rem;
}
.skill-box .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: var(--blue2);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.skill-per.css{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.javascript{
  width: 50%;
  animation-delay: 0.2s;
}
.skill-per.nodejs{
  width: 30%;
  animation-delay: 0.3s;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.skill-per .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}
.tooltip::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}

@media screen and (min-width: 576px) {

  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home-social-icon {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-right: 1rem;
  }
}

main.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px ;
}

.col header.title{
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.459);
}
.col .contents{
  padding: 0px 30px;
  border-left: 2px solid #bababa;

}
.col .contents .box{
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.col .contents .box:hover{
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}

.col .contents .box::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  right: calc(100% + 22px);
  top: 0;
  background-color: black;
  border: 2px solid white;
}

.box h4{
  position: relative;
  color: black;
}

.box h3{
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: Helvetica;
  color: #444;
}

.box h4{
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}
@media(max-width: 768px){
  main.row{
      grid-template-columns: 1fr;
  }
  .row .col:nth-child(2){
      margin-top: 30px;
  }
}

.photo {
  width: 200px;
  border-radius: .5rem;
  float: right;
}

.hero {
  color: #EFEFEF;
  padding-top: 130px;
  padding-left: 50px;
}

.hero h3 {
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
  /* Animasi */
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
  animation-delay: 1s;
}

.hero h1 {
  font-family: "Neuton", serif;
  font-size: 46px;
  letter-spacing: 4px;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
  animation-delay: 1.1s;
}

.hero p {
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
  animation-delay: 1s;
  font-style: italic;
  font-weight: 500;
}

.hero button {
  background-color: #1167b1;
  border-radius: 3px;
  margin-top: 30px;
  border: none;
  color: #EFEFEF;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transform: translateY(100rem);
  animation: slideIn 0.5s forwards;
}

.fa {
  padding-right: 8px;
}

#about
{
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #526D82;
}
#galery {
  padding: 60px 0;
  box-sizing: border-box;
  background-color: #EFEFEF;
}

#skills {
  box-sizing: border-box;
  background-color: #526D82;

}

#experiences{
  background-color: #27374D;
}

#interests{
  background-color: #27374D;
}

#about h2,
#skills h2,
#experiences h2,
#interests h2,
#award h2 {
  display: grid;
  /* text-transform: uppercase; */
  text-align: center;
  padding-bottom: 30px;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

#about h2::after, 
#experiences h2::after,
#skills h2::after,
#interests h2::after,
#award h2::after {
  content: "";
  display: block;
  align-self: center;
  justify-self: center;
  width: 20%;
  margin-top: 15px;
  border-bottom: 2px solid var(--blue3);
  transition: ease-in-out 0.5s;
}

#about h2:hover::after,
#experiences h2:hover::after,
#interests h2:hover::after,
#skills h2:hover::after,
#award h2:hover::after {
  width: 10%;
}

#award{
  background-color: #526D82;
}

#about .flex-about {
  display: flex;
  flex-wrap: wrap;
}

.flex-about p {
  margin-top: 20px;
}

#about .desc {
  float: left;
  width: 75%;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}

#galery {
  background-color: var(--blue);
}

.galery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.galery-flex .item {
  height: 250px;
  width: 250px;
  position: relative;
  margin: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
}


.galery-flex img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.galery-flex img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: block;
  margin: 50px auto;
  max-width: 80%;
  max-height: 80%;
}

.modal-content img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-height: 100%;
  cursor: zoom-out;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: var(--black);
  background-size: cover;
  color: #EFEFEF;
  padding: 20px 0;
}

footer p {
  padding: 3px;
}



